<div class="container">
  <div class="container">
    <div class="row d-flex" style="background-color: #d9e4e0">
      <div class="col-md-8 text-center" style="border-right: 1px solid black">
        <h3>{{ evento.nombre }}</h3>
        <p>{{ evento.descripcion }}</p>
      </div>
      <div class="col-md-4 text-center">
        <div class="row d-flex">
          @if (userLoginOn) {
          <button type="button" class="btn btn-primary col-6" (click)="registrar(idPage, idUser)">
            Registrarse en evento
          </button>
          <a
            [routerLink]="['/eventoUpdate', evento.id]"
            class="btn btn-success col-6"
            >Modificar Evento</a
          >
          }@else {
            <h3>Inicia session para asistir!!</h3>
          }
        </div>
        <hr />
        <h3>Fecha</h3>
        <p>{{ evento.fecha }}</p>
        <hr />
        <h3>Hora</h3>
        <p>{{ evento.hora }}</p>
        <hr />
        <h3>Lugar</h3>
        <p>{{ evento.ubicacion }}</p>
      </div>
    </div>
  </div>
  @if(userLoginOn){
  <div class="card mt-4">
    <div class="card-header text-center">Personas Registradas</div>
    <div class="card-body m-0">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Country</th>
          </tr>
        </thead>
        <tbody>
          @for (user of this.users; track $index) {
          <tr>
            <th scope="row">{{$index}}</th>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.country}}</td>
          </tr>
          }
        </tbody>
      </table>      
    </div>
  </div>
  }
</div>
