<footer class="jumbotron bg-primary">
    <div class="text-center text-white">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-2 ">
                    <p style="color: black">
                        UANL "Alere Flammam Veritatis" 
                    </p>
                </div>
            </div>
            <div class="text-center">
                <a href="" class="text-black me-4">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="" class="text-black me-4">
                    <i class="fa-brands fa-square-twitter"></i>
                </a>
                <a href="" class="text-black me-4">
                    <i class="fa-brands fa-google"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
