<footer class="jumbotron">
    <div class="text-center text-white">
        <div class="container-fluid">
            <div class="row justity-content-center">
                <div class="col-lg-8 mt-2">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Harum assumenda, esse quo saepe, autem vitae, dicta provident 
                        amet reiciendis iste quisquam ut accusantium quam enim hic! 
                        Magnam temporibus nam labore?
                    </p>
                </div>
            </div>
            <div class="text-center mb-2">
                <a href="" class="text-white me-4">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fa-brands fa-square-twitter"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fa-brands fa-google"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
